# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Build outputs
/dist
/out-tsc
/tmp
/bazel-out

# Node modules
/node_modules

# Logs
npm-debug.log
yarn-error.log
pnpm-debug.log

# IDEs and editors
.idea/
.vscode/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Angular cache
/.angular/cache

# Coverage reports
/coverage

# Misc
.sass-cache/
/connect.lock
/libpeerconnection.log
testem.log
/typings

# History
.history/

# Environment files
.env
.env.*

# Docker
Dockerfile*
.dockerignore

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
